<div class="container-fuild">
	<div class="row">
		<div class="col-xs-3 top-sidebar">
			<span class="box-title">New Flex</span>
			<%= render  '/layouts/sidebar', {post: @post} %>
		</div>
		<div class="col-xs-9">
			<div class="top-image col-xs-12">
				<%= link_to homes_about_path do %>
					<h2 class="top-text">Flex!!Flex!!Flex!!!</h2>
				<% end %>
			</div>

			<div class ="col-xs-8 top-news">
				<h4>お知らせ</h4>
			</div>

			<div class="col-xs-4 top-contact">
			</div>
		</div>
	</div>
</div>

